{% extends 'master.html' %}
<!--{% load static %}-->
{% if liste%}
  {% block title %}
    Call of roll {{cursus.name}}
  {% endblock%}

  {% block content %}
   <div class="container">
    <form method="POST">
      {% csrf_token %}
      <input class="form-control" type="date" id="date" name="date" value="jj/mm/aaaa">
      {% for etu in listEtu %}
        <div class="row">
          <div class="col">
            <input type="checkbox" name="etu{{etu.id}}"> 
            <label for="etu{{etu.id}}">{{etu.first_name}} {{etu.last_name}}</label> 
          </div>
        </div>
      {% endfor %}
      <button class="alert alert-success" type='submit' name="submit" value="Submit">
          Submit
      </button>
    </form>
    </div>
  {% endblock%}
{% else %}
  <p>No student to call</p>
{% endif %}